@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  height: 599px;
  background-color: #0b2434;
  padding: 53px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  width: 520px;
  height: 520px;
  border-radius: 10px;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 30px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Karla', sans-serif;
  height: 63px;
  width: 63px;
  box-shadow: 0px 2px 2px 0px #00000026;
  border-radius: 4px;
  cursor: pointer;
}
.box.held {
  background-color: #59e391;
}

.roll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5035ff;
  font-size: 23px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002e;
}
.roll-btn:focus {
  outline: none;
}
.roll-btn:active {
  box-shadow: inset 26px 35px 25px -4px rgba(0, 0, 0, 0.1);
  background-color: #4029d8;
  transform: translateY(1px);
}
.roll-btn,
.box {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.title {
  font-size: 3rem;
  letter-spacing: -0.03em;
  text-align: center;
}
.instruction {
  font-size: 1.2rem;
  max-width: 80%;
  font-family: 'Inter';
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: center;
}

/* Stats */
footer {
  display: grid;
  grid-template: repeat(3, auto) / 0.7fr 1fr;
  margin-top: 20px;
  gap: 0.3rem;
}

.stats-title {
  grid-column: 1/-1;
  text-align: center;
}
